---
import Header from "../components/Header.astro"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>michael-h.dk</title>
	</head>
	<body>
		<Header />		
	</body>
</html>
